@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
body {
  background: #F6F6F6;
  font-size: 9px;
}

#wrap {
  width:70%;
  margin: 0% auto;
  background-color: #F6F6F6;
}

#navigation {
  width: auto;
  text-align: left;
  padding-left: 10%;
  padding-top:1%;
  padding-bottom: 1%;
}
#navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
}
#navigation ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#navigation ul li a {
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#navigation ul li a:hover {
  color: Gray;
}
#navigation ul li a:hover:before {
  width: 100%;
}
#navigation ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: black;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#navigation ul li.active a {
  color: black;
}
#navigation ul li.active a:before {
  width: 100%;
}

#footer {
  width: auto;
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  padding: 1px 1px 1px;
}
#footer ul {
  list-style: none;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
}
#footer ul li {
  display: inline-block;
  padding-right: 5px;
  color:  #727578;
}
#footer ul li a{
  text-decoration: none;
  color: inherit;
}
#footer #cName {
  color:  #8f9296;
  margin: 0;
  padding-right: 20px;
}


#top, #bot{
  width:100%;
  margin:0 auto;
  color: black;
}

#top {
  margin-top:10px;
  margin-bottom:25px;
  text-align:center;
}
#top h1 {
  font: bold 20px "Century Schoolbook", Georgia, Times, serif;
}

#bot {
  margin-top:50px;
  text-align: center;
}

#bot p {
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  #navigation ul li {
    float: none;
    display: block;
  }
  #navigation ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }

  #navigation ul li a:after {
    display: none;
  }
  #navigation ul li a:before {
    display: none;
  }
}









